@mixin sm(){
    @media screen and (min-width:480px) {
        @content
        
    }
}

@mixin md(){
    @media screen and (min-width:580px) {
        @content
        
    }
}
@mixin lg(){
    @media screen and (min-width:780px) {
        @content
        
    }
}
@mixin xl(){
    @media screen and (min-width:980px) {
        @content
        
    }
}