@import "../../sass/responsive.scss";

.sidebar {
  position: absolute;
  transition: left 0.6s ease;
  min-width: 25vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 2px solid #00000071;
  @include sm {
    position: relative;
    min-width: auto;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
.hide {
  &__scroll {
    overflow-y: scroll;
    ::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
