@use "../sass/responsive" as *;

.ham {
  display: block;
  position: fixed;
  height: fit-content;
  @include sm {
    display: none;
  }
}
.main {
  height: 90vh;
  position: relative;
}

.list {
  &__wrapper {
    overflow-y: scroll;
    height: 45vh;
    &::-webkit-scrollbar {
      width: 10px !important;
    }
  }
}
